:host {
      min-width: 200px;
      min-height: 300px;

      max-width: 70%;
      max-height: 80%;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-sizing: border-box;

      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      padding: 1em 2em;
      background-color: var(--primary);
      border-radius: var(--default-border-radius);

      z-index: 1000;
}

.header {
      width: 100%;
      text-align: left;
      box-sizing: border-box;
      padding: 0.5em 1em;
      border-bottom: 2px solid var(--accent);
}

.title {
      padding: 0em;
      margin: 0em;
      font-size: var(--three-extra-large-font-size);
      font-weight: var(--regular-font-weight);
}

.footer {
      width: 100%;
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 1em;
      border-top: 2px solid var(--accent);
      padding: 0.5em 1em;
      box-sizing: border-box;
}

::ng-deep .icon {
      display: none;
}
