<header class="header">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio excepturi nisi laborum odit cumque saepe vero
      ducimus, quasi exercitationem pariatur perferendis quis iste maiores odio qui amet nobis vitae fuga?
</header>
<main class="main">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic modi maiores possimus quidem eaque reprehenderit
      animi debitis voluptates voluptatibus eum id ducimus sequi vitae culpa commodi, nisi praesentium consectetur
      magnam! Aperiam ullam blanditiis ipsa quo iste corporis fugiat magnam ipsam quisquam harum, minima similique quos
      quis, provident dicta id, natus quasi fuga. Excepturi culpa eligendi laboriosam ut omnis commodi laudantium.
</main>
<footer class="footer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, nisi assumenda excepturi
      expedita pariatur ullam possimus laboriosam facilis maxime quia aut voluptate blanditiis eum quasi aliquid
      sapiente veritatis animi corporis?</footer>
