:host {
      max-width: 500px;
      max-height: 600px;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      z-index: 1000;
      padding: 1em 2em;
      background-color: var(--primary);
      border-radius: var(--default-border-radius);
}

.modal-body {
      width: 100%;
      height: 100%;
}

.header {
      width: 100%;
      text-align: left;
      box-sizing: border-box;
      padding: 0.5em 1em;
      border-bottom: 2px solid var(--accent);
}

.title {
      padding: 0em;
      margin: 0em;
      font-size: var(--three-extra-large-font-size);
      font-weight: var(--regular-font-weight);
}

.main {
      width: 100%;
      height: 100%;
}

.footer {
      width: 100%;
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border-top: 2px solid var(--accent);
      padding: 0.5em 0em;
      gap: 0.5em;
      box-sizing: border-box;
}

.confirm {
      background-color: var(--info);
      color: var(--primary);
}

.confirm:disabled {
      background-color: var(--not-allowed);
      color: var(--text-not-allowed);
}

.confirm,
.cancel {
      width: 100%;
      display: inline-flex;
      justify-content: center;
      align-self: center;
}
