:root {
      --primary: #fffffe;
      --secondary: #efe9f4;
      --accent: #f0e2e7;
      --info: #3f84e5;
      --success: #3f784c;
      --warning: #c17817;
      --error: #b20d30;
      --not-allowed: #c4c4c4;
      --card-background: whitesmoke;

      --text-primary: #000555;
      --text-not-allowed: #7a7a7a;

      --regular-font-weight: 400;
      --light-font-weight: 200;
      --bold-font-weight: 550;

      --four-extra-large-font-size: 2.25rem;
      --three-extra-large-font-size: 1.75rem;
      --two-extra-large-font-size: 1.5rem;
      --extra-large-font-size: 1.25rem;
      --large-font-size: 1.125rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
      --extra-small-font-size: 0.75rem;

      --default-border-radius: 0.25rem;

      --default-shadow: 0em 0.5em 0.5em lightgray;

      --system-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
            'Open Sans', 'Helvetica Neue', sans-serif, 'Helvetica Neue', sans-serif;
}

html,
body {
      height: 100%;
      width: 100%;
}

body {
      margin: 0;
      font-family: var(--system-font-family);
      background-color: var(--primary);
      color: var(--text-primary);
      font-weight: var(--regular-font-weight);
      font-size: var(--normal-font-size);
}

.blur {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-color: blur(5px);
      z-index: 999;
      pointer-events: none;
}

.card {
      width: 50%;
      max-width: 500px;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--secondary);
      padding: 2em;
      border-radius: var(--default-border-radius);
      background-color: var(--card-background);
      gap: 2em;
      box-shadow: var(--default-shadow);
}

.card .header {
      width: 100%;
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
}

.card .body {
      width: 100%;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;
}

.card .footer {
      width: 100%;
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
}

.link {
      font-size: 0.75rem;
      font-weight: 400;
      text-wrap: wrap;
}

.ref {
      color: var(--info);
      text-decoration: underline;
      cursor: pointer;
      transition: 0.5s ease;
}

.ref:active {
      transform: scale(0.98);
}

.ref:hover {
      opacity: 0.5;
}

.ref:focus-visible {
      transform: scale(0.98);
}
