<form class="form" [formGroup]="form">
      <tm-input label="Title" type="text" name="title" placeholder="Task title here ..."
            [formControlName]="formService.titleFormName">
            <span [hidden]="!formService.titleFormControl.hasError('required')" class="error-message">
                  • Il titolo del task è obbligatorio
            </span>
            <span [hidden]="!formService.titleFormControl.hasError('minlength')" class="error-message">
                  • Il titolo del task deve essere lungo minimo 2 caratteri
            </span>
            <span [hidden]="!formService.titleFormControl.hasError('maxlength')" class="error-message">
                  • Il titolo del task deve essere lungo massimo 255 caratteri
            </span></tm-input>
      <tm-input label="Description" type="text" name="description" placeholder="Task's description here ..."
            [formControlName]="formService.descriptionFormName">
            <span [hidden]="!formService.descriptionFormControl.hasError('required')" class="error-message">
                  • La descrizione del task è obbligatoria
            </span>
            <span [hidden]="!formService.descriptionFormControl.hasError('minlength')" class="error-message">
                  • La descrizione del task deve essere lunga minimo 2 caratteri
            </span>
            <span [hidden]="!formService.descriptionFormControl.hasError('maxlength')" class="error-message">
                  • La descrizione del task deve essere lunga massimo 255 caratteri
            </span></tm-input>
</form>
