:host {
      width: 100%;
      height: 100%;
      border-radius: 0.25rem;
      border: 0.5px solid gray;
      cursor: pointer;
      background-color: var(--secondary);
      transition: 0.3s ease;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
}

.text {
      font-size: 1rem;
}

.icon {
      margin: 0rem 0.25rem;
}

:host:hover {
      filter: brightness(90%);
      background-color: var(--accent);
}

:host:active {
      transform: scale(0.98);
      filter: brightness(85%);
}

:host:disabled {
      background-color: var(--not-allowed);
      color: var(--text-not-allowed);
      cursor: not-allowed;
}

:host:focus-visible {
      outline: 1px solid gray;
}
