:host {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
      padding: 1em 2em;

      border: 1px solid var(--secondary);
      border-radius: var(--default-border-radius);
      background-color: var(--card-background);
      box-shadow: var(--default-shadow);

      cursor: pointer;
      transition: 0.4s ease-in-out;
}

.project-title {
      border-bottom: 1px solid black;
}

.project-title,
.project-description,
.project-dates {
      margin: 0em;
      padding: 0em;
      width: 100%;
      height: 100%;
}

.project-title {
      font-size: 1.5rem;
}

.project-description,
.project-starting-date,
.project-ending-date {
      font-size: 1rem;
}

.project-title {
      font-weight: 400;
}

.project-description,
.project-starting-date,
.project-ending-date {
      font-weight: 300;
}

.project-title,
.project-description,
.project-starting-date,
.project-ending-date {
      text-wrap: pretty;
      user-select: none;
}

.project-dates {
      width: 100%;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1em;
}

:host:active:not(:has(.button:active)) {
      transform: scale(0.98);
      background-color: var(--accent);
}

:host:focus-visible {
      transform: scale(0.98);
      background-color: var(--accent);
}

.project-actions {
      width: 100%;
      height: 100%;
      display: inline-flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0.5em;
      border-top: 1px solid black;
      padding: 1em 0em;
      box-sizing: border-box;
}

.project-actions .button {
      width: 100%;
}

.project-actions .update-button {
      background-color: rgba(from var(--info) r g b / 0.5);
}

.project-actions .delete-button {
      background-color: rgba(from var(--error) r g b / 0.5);
}

.button {
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
}
