<div class="notification" *ngIf="service.show$ | async">
      <fa-icon [icon]="infoIcon" size="2x" class="notification-icon" [ngClass]="{
                  error: (service.type$ | async) === 'error',
                  success: (service.type$ | async) === 'success'
            }"></fa-icon>
      <div class="notification-message">
            <span class="notification-message-title">{{ service.title$ | async }}</span>
            <span class="notification-message-body">{{ service.message$ | async }}</span>
      </div>
</div>
