.radio-group {
      width: 100%;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
}

.radio-group .radio {
      border-radius: 0em;
}

.radio-group tm-radio-button:first-child .radio {
      border-radius: 0.25em 0em 0em 0.25em;
}

.radio-group tm-radio-button:last-child .radio {
      border-radius: 0em 0.25em 0.25em 0em;
}
