:host {
      display: block;
      width: 100% !important;
      height: 100% !important;
      border-right: 2px solid var(--accent);
      box-sizing: border-box;
      padding: 0.5em 1em;
}

.action {
      width: 100%;
}

.action .icon {
      color: var(--info);
}
