<ul class="header-nav">
      <li class="nav-item">
            <fa-icon size="lg" [icon]="homeIcon"></fa-icon>
            <p class="nav-text">Home</p>
      </li>
      <li class="nav-item">
            <fa-icon size="lg" [icon]="projectIcon"></fa-icon>
            <p class="nav-text">Project</p>
      </li>
      <li class="nav-item">
            <fa-icon size="lg" [icon]="statisticsIcon"></fa-icon>
            <p class="nav-text">Statistics</p>
      </li>
      <li class="nav-item">
            <fa-icon size="lg" [icon]="logoutIcon"></fa-icon>
            <p class="nav-text">Logout</p>
      </li>
</ul>
